h3, h6, span{
    color:#575757
}

.add-btn{
    background-color: #6C63FF;
    color: white;
}

.card{
    border-top: 5px solid #6C63FF;
}

.edit-btn{
    background-color: #3F3D56;
}

.edit-btn:hover{
    opacity: 0.9;
}