<div class="container-fluid my-3">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="../../../assets/avatar.svg" alt="" class="img-fluid" width="100px">
        <h6>{{userName}}</h6>
      </div>
      <div class="col-md-9">
          <h3>Add Project</h3>
          <div class="col-md-6 my-3">
              <form #AddProjectForm="ngForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3 form-group">
                      <label for="Name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="Name" [(ngModel)]="addProject.name" name="addProject.name" #name="ngModel" required>
                      <div class="form-text text-danger" *ngIf="name.touched && name.invalid">
                        Name is required
                      </div>
                  </div>
                  <div class="mb-3 form-group">
                    <label for="Description" class="form-label">Description</label>
                    <textarea  class="form-control" id="Description" [(ngModel)]="addProject.description" name="addProject.description" #description="ngModel" required></textarea>
                    <div class="form-text text-danger" *ngIf="description.touched && description.invalid">Description is required</div>
                  </div>
                  <div class="mb-3 form-group">
                    <label for="Link" class="form-label">Link</label>
                    <input type="text" class="form-control" id="Link" [(ngModel)]="addProject.link" name="addProject.link" #link="ngModel">
                    
                </div>
                  <button type="submit" class="btn submit-btn me-3" [disabled]="AddProjectForm.invalid">Save</button>
                  <a class="btn back-btn" routerLink="/projects">Back</a>
                </form>
          </div>
      </div>
    </div>    
  </div>
  

